html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*防止拖动*/
img {border:0;	vertical-align:middle; }  /*  去掉图片低测默认的3像素空白缝隙*/
table { border-collapse:collapse; }
body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff
}
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
a {color:#666; text-decoration:none; }
a:hover{color:#C81623;}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}
s,i,em{font-style:normal;text-decoration:none;}
.col-red{color: #C81623!important;}


/*轮播图*/
/*.zhuti{
    width: 740px;
    height: 405px;
    background: #b60b06;
}*/
/*.zhuti .lunbo{
    width: 739px;
    height: 405px;
    float: left;
    overflow: hidden;
    position: relative;
}
.zhuti .lunbo .slider{
    width: 739px;
    height: 405px;
    position: relative;
    overflow: hidden;
}
.zhuti .lunbo img{
    width: 739px;
    height: 405px;
}
.zhuti .lunbo ul{
    width: 1478px;
    height: 405px;
}
.zhuti .lunbo ul li{
    width: 739px;
    height: 405px;
    position: absolute;
    left:0;
    top:0;
}
.zhuti .lunbo ol{
    text-align: center;
    position: absolute;
    left:50%;
    bottom:10px;
    width: 150px;
    height: 20px;
    margin-left:-75px;
}
.zhuti .lunbo ol li{
    width: 20px;
    height: 20px;
    border-radius:20px;
    background: white;
    cursor: pointer;
    margin-left:10px;
    float: left;
    color: red;
    line-height:20px;
    text-indent: -50px;
    overflow: hidden;
}
.zhuti .lunbo ol li.current{
    background: purple;
}
.zhuti .lunbo .control{
    display: none;
}
.zhuti .lunbo .control .pre,
.zhuti .lunbo .control .next{
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height:40px;
    text-align: center;
    font-weight:800;
    background: rgba(0,0,0,0.2);
    font:40px '宋体';
    top:50%;
    margin-top:-20px;
    color: #ffffff;
}
.zhuti .lunbo .control .prev{
    left:0;
}
.zhuti .lunbo .control .next{
    right:0;
}*/


.lunbo{
    width: 352px;
    height: 180px;
    float: left;
    overflow: hidden;
    position: relative;
}
.lunbo .slider{
    width: 352px;
    height: 180px;
    position: relative;
    overflow: hidden;
}
.lunbo img{
    width: 352px;
    height: 180px;
}
.lunbo ul{
    width: 1478px;
    height: 180px;
}
.lunbo ul li{
    width: 352px;
    height: 180px;
    position: absolute;
    left:0;
    top:0;
}
.lunbo ol{
    text-align: center;
    position: absolute;
    left:50%;
    bottom:10px;
    width: 150px;
    height: 20px;
    margin-left:-75px;
}
.lunbo ol li{
    width: 20px;
    height: 20px;
    border-radius:20px;
    background: white;
    cursor: pointer;
    margin-left:10px;
    float: left;
    color: red;
    line-height:20px;
    text-indent: -50px;
    overflow: hidden;
}
.lunbo ol li.current{
    background: purple;
}
.lunbo .control{
    display: none;
}
.lunbo .control .pre,
.lunbo .control .next{
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height:40px;
    text-align: center;
    font-weight:800;
    background: rgba(0,0,0,0.2);
    font:40px '宋体';
    top:50%;
    margin-top:-20px;
    color: #ffffff;
}
.lunbo .control .prev{
    left:0;
}
.lunbo .control .next{
    right:0;
}
